* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #b85039;
    font-family: Calibri;
}

h1 {
    color: #fff;
    font-size: 3em;
    margin: 25px 0;
    font-weight: 200;
    text-align: center;
}

.plato {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    max-width: 500px;
    width: 100vw;
    max-height: 500px;
    height: 100vw;
    background-color: #e8e8e8;
    border: #eee 50px solid;
    border-radius: 50%;
}

.comidas1,
.comidas2 {
    display: grid;
    place-items: center;
    font-size: 1.2em;
    overflow: hidden;
}

button {
    position: absolute;
    bottom: 20px;
    border: none;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    cursor: pointer;
    transform: translateY(-20px);
}

button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}